* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.products {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}

.product {
    flex: 1 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.product-name {
    font-size: 18px;
    color: #4579fd;
    /* margin: 10px 0; */
}

.product-price {
    font-size: 16px;
    color: #ff4444;
}

.product-quantity {
    width: 60%;
    padding: 5px;
    margin-top: 10px;
}

.add-to-cart {
    width: 80%;
    padding: 10px;
    background-color: #32cd60;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.panier {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

.supprimer-ligne {
    color: #ff0000;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
}

.error {
    color: red;
    font-size: 10px;
}